<div>
    <mat-card>
        <div class="container">
            <mat-icon>{{sensor.type | sensorIcon}}</mat-icon>
            <!--<span>{{sensor.name}}:</span>-->
            <span class="spaced">{{sensor.measure?.value}}</span>
            <span class="spacer"></span>
            <mat-button-toggle *ngIf="sensor.type == 'Light'" class="auto-button-toggle" name="auto" ngDefaultControl [checked]="actuator.auto" (click)="toggleAuto()" [disabled]="!roomConnected">Auto</mat-button-toggle>
            <mat-button-toggle *ngIf="sensor.type != 'Wifi'" class="active-button-toggle" name="active" ngDefaultControl [checked]="actuator.active" (click)="toggleActive()" [disabled]="actuator.auto || !roomConnected">ON</mat-button-toggle>
        </div>
    </mat-card>
</div>