.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auto-button-toggle {
}

.active-button-toggle {
}

.spacer {
    flex: 1 1 auto;
}

.spaced {
    margin-left: 2%;
}