<mat-card class="room">
    <mat-progress-bar [mode]="isConnecting?'indeterminate':'determinate'" value="100"></mat-progress-bar>
    
    <mat-toolbar color="primary">
        <span class="room-name">{{room.name}}</span>
        <button mat-icon-button (click)="toggleMonitoring()" [disabled]="!room.connected">
            <mat-icon [class]="!room.connected ? '' : room.monitoring ? 'green-button' : 'red-button'">{{room.monitoring ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <button mat-icon-button [disabled]="true">
            <mat-icon [class]="room.connected ? 'green-button' : 'red-button'">{{room.connected ? 'wifi' : 'wifi_off'}}</mat-icon>
        </button>
        <button mat-icon-button (click)="editRoom()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteRoom()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>

    <mat-card>
        <mat-label>IPv4:</mat-label> {{room.ipv4}}  
    </mat-card>
    <mat-card [ngClass]="getAlarmClass(alarm.code)" *ngFor="let alarm of room.alarms">
        <mat-label>ALARM: </mat-label>{{alarm.datetime | date:'shortTime'}} - {{alarm.message}}  
    </mat-card>
    <div>
        <app-sensors [sensors]='room.sensors' [roomConnected]="room.connected?room.connected:false" [roomIp]="room.ipv4"></app-sensors>
    </div> 
</mat-card>