@import "~@angular/material/theming";
@import 'variables.scss';

.room {
    border: 2px ridge mat-color($primaryPalette);
    border-radius: 12px;
    margin: 11% 0 0 0;
    min-width: 300px;
    min-height: 200px;
}

.room-name {
    width: 200px;
    margin-right: 2%;
}

.red-button {
    color: red;
}

.green-button {
    color: lime;
}

.alarm {
    background-color : red;
}