@import "~@angular/material/theming";
@import 'variables.scss';

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    row-gap: 20px;
}

.room {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 2% 4% 2%;
    min-width: 300px;
    height: 200px;
}

.add-room {
    min-width: 300px;
}

.empty-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4% 0 4%;
    width: 300px;
}