<div>
    <mat-toolbar color="primary">
        <h1>Options</h1>
    </mat-toolbar>
    <div class="container">
        <mat-slide-toggle (change)="onSingleModeToggle($event.checked)">Single Mode</mat-slide-toggle>
        <mat-slide-toggle (change)="onEcoModeToggle($event.checked)">Eco Mode</mat-slide-toggle>
        <div><mat-slide-toggle (change)="onSleepModeToggle($event.checked)">Sleep Mode</mat-slide-toggle><mat-icon style="margin-left: 0.5em; cursor:pointer;">access_time</mat-icon></div>
    </div>
</div>